#main {
	background: gray;
	color: white;
	text-align: center;
	padding: 40px 0px;
}
#iv {
	background: tomato;
	color:white;
	padding-left:  25px;
}
#space2 {
	padding: 10px 25px;
	display: flex;
}
.b {
	height: 100px;
	color: white;
	padding: 100px 100px

}
.sidebar {
	margin-left: 20px;
	background: blue;
}
.content {
	background: yellow;
	color: black;
}
#dash {
	background: blanchedalmond;
    text-align: center;
    padding: 30px;
}